node_red_data/.flows.json.backup
[
    {
        "id": "9ab1e5f6db84bb21",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6c0760fa.703ea",
        "type": "graphql-schema",
        "name": "Star Wars",
        "schema": "type Query{\n\tperson(\n\t\tid : ID!\n\t) : Person\n\tpeople(\n\t\tlimit : Int\n\t) : [Person!]!\n\tfilm(\n\t\tid : ID!\n\t) : Film\n\tfilms(\n\t\tlimit : Int\n\t) : [Film!]!\n\tstarship(\n\t\tid : ID!\n\t) : Starship\n\tstarships(\n\t\tlimit : Int\n\t) : [Starship!]!\n\tvehicle(\n\t\tid : ID!\n\t) : Vehicle\n\tvehicles(\n\t\tlimit : Int\n\t) : [Vehicle!]!\n\tspecie(\n\t\tid : ID\n\t) : Specie\n\tspecies(\n\t\tlimit : Int\n\t) : [Specie!]!\n\tplanet(\n\t\tid : ID!\n\t) : Planet\n\tplanets(\n\t\tlimit : Int\n\t) : [Planet!]!\n}\n\n#A Person is an individual person or \n#character within the Star Wars universe.\ntype Person{\n\tid : ID!\n\tbirth_year : String!\n\teye_color : String!\n\tfilms : [Film!]\n\tgender : String!\n\thair_color : String!\n\theight : Float!\n\thomeworld : Planet\n\tmass : String!\n\tname : String!\n\tskin_color : String!\n\tcreated : DateTime!\n\tedited : DateTime!\n\tspecies : [Specie]\n\tstarships : [Starship!]\n\tvehicles : [Vehicle!]\n}\n\ntype Film{\n\tid : ID!\n\tcharacters : [Person!]\n\tcreated : DateTime!\n\tdirector : String!\n\tedited : DateTime!\n\tepisode_id : ID!\n\topening_crawl : String!\n\tplanets : [Planet!]\n\tproducer : String!\n\trelease_date : DateTime!\n\tspecies : [Specie!]\n\tstarships : [Starship!]\n\ttitle : String!\n\tvehicles : [Vehicle!]\n}\n\nscalar DateTime\n\ntype Planet{\n\tid : ID!\n\tclimate : String!\n\tcreated : DateTime!\n\tdiameter : String!\n\tedited : DateTime!\n\tfilms : [Film!]\n\tgravity : String!\n\tname : String!\n\torbital_period : String!\n\tpopulation : String!\n\tresidents : [Person!]\n\trotation_period : String!\n\tsurface_water : String!\n\tterrain : String!\n\tspecies : [Specie!]\n}\n\ntype Specie{\n\tid : ID!\n\taverage_height : String!\n\taverage_lifespan : String!\n\tclassification : String!\n\tcreated : DateTime!\n\tdesignation : String!\n\tedited : DateTime!\n\teye_colors : String!\n\thair_colors : String!\n\thomeworld : Planet\n\tlanguage : String!\n\tname : String!\n\tpeople : [Person!]\n\tfilms : [Film!]\n\tskin_colors : String!\n}\n\ntype Starship{\n\tid : ID!\n\tMGLT : String!\n\tcargo_capacity : String!\n\tconsumables : String!\n\tcost_in_credits : String!\n\tcreated : DateTime!\n\tcrew : String!\n\tedited : DateTime!\n\thyperdrive_rating : String\n\tlength : String!\n\tmanufacturer : String!\n\tmax_atmosphering_speed : String!\n\tmodel : String!\n\tname : String!\n\tpassengers : String!\n\tfilms : [Film!]\n\tpilots : [Person!]\n\tstarship_class : String!\n}\n\ntype Vehicle{\n\tid : ID!\n\tcargo_capacity : Int!\n\tconsumables : String!\n\tcost_in_credits : String!\n\tcreated : DateTime!\n\tcrew : Int!\n\tedited : DateTime!\n\tlength : String!\n\tmanufacturer : String!\n\tmax_atmosphering_speed : String!\n\tmodel : String!\n\tname : String!\n\tpassengers : Int!\n\tpilots : [Person!]\n\tfilms : [Film!]\n\tvehicle_class : String!\n}\n\ntype Subscription{\n\tnewFilms : Film!\n}\nschema{\n\tquery: Query,\n\tsubscription: Subscription\n}",
        "pagination": false,
        "cursorField": ""
    },
    {
        "id": "954bc2c88cff2132",
        "type": "http in",
        "z": "9ab1e5f6db84bb21",
        "name": "",
        "url": "/payment",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "c72150c3aa7ba36c"
            ]
        ]
    },
    {
        "id": "c72150c3aa7ba36c",
        "type": "switch",
        "z": "9ab1e5f6db84bb21",
        "name": "",
        "property": "payload.accountNo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "UNKNOWN",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 220,
        "wires": [
            [
                "a6d0a8a81eea7e3b"
            ],
            [
                "ceb6b9e366d6f70a",
                "d621aba5d4932101"
            ]
        ]
    },
    {
        "id": "ceb6b9e366d6f70a",
        "type": "change",
        "z": "9ab1e5f6db84bb21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.status",
                "pt": "msg",
                "to": "PROCESSING",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload.ref",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.amount",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.accountNo",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 320,
        "wires": [
            [
                "c8a4350235122fd4"
            ]
        ]
    },
    {
        "id": "c8a4350235122fd4",
        "type": "http response",
        "z": "9ab1e5f6db84bb21",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1040,
        "y": 320,
        "wires": []
    },
    {
        "id": "a6d0a8a81eea7e3b",
        "type": "http response",
        "z": "9ab1e5f6db84bb21",
        "name": "",
        "statusCode": "404",
        "headers": {},
        "x": 960,
        "y": 220,
        "wires": []
    },
    {
        "id": "d621aba5d4932101",
        "type": "delay",
        "z": "9ab1e5f6db84bb21",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 460,
        "wires": [
            [
                "0ec41463ba89087e"
            ]
        ]
    },
    {
        "id": "681e4edd42b3b186",
        "type": "http request",
        "z": "9ab1e5f6db84bb21",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://webhook.site/6851c352-cf08-4691-8efa-eccb18a6ceea",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1170,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "0ec41463ba89087e",
        "type": "change",
        "z": "9ab1e5f6db84bb21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.status",
                "pt": "msg",
                "to": "SUCCESS",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.errorMessage",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload.ref",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.accountNo",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 460,
        "wires": [
            [
                "681e4edd42b3b186"
            ]
        ]
    }
]