node_red_data/flows.json
[
    {
        "id": "9ab1e5f6db84bb21",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "954bc2c88cff2132",
        "type": "http in",
        "z": "9ab1e5f6db84bb21",
        "name": "",
        "url": "/payment",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "c72150c3aa7ba36c"
            ]
        ]
    },
    {
        "id": "c72150c3aa7ba36c",
        "type": "switch",
        "z": "9ab1e5f6db84bb21",
        "name": "",
        "property": "payload.accountNo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "UNKNOWN",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 220,
        "wires": [
            [
                "a6d0a8a81eea7e3b"
            ],
            [
                "ceb6b9e366d6f70a",
                "d621aba5d4932101"
            ]
        ]
    },
    {
        "id": "ceb6b9e366d6f70a",
        "type": "change",
        "z": "9ab1e5f6db84bb21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.status",
                "pt": "msg",
                "to": "PROCESSING",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload.ref",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.amount",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.accountNo",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 320,
        "wires": [
            [
                "c8a4350235122fd4"
            ]
        ]
    },
    {
        "id": "c8a4350235122fd4",
        "type": "http response",
        "z": "9ab1e5f6db84bb21",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1040,
        "y": 320,
        "wires": []
    },
    {
        "id": "a6d0a8a81eea7e3b",
        "type": "http response",
        "z": "9ab1e5f6db84bb21",
        "name": "",
        "statusCode": "404",
        "headers": {},
        "x": 960,
        "y": 220,
        "wires": []
    },
    {
        "id": "d621aba5d4932101",
        "type": "delay",
        "z": "9ab1e5f6db84bb21",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 460,
        "wires": [
            [
                "0ec41463ba89087e"
            ]
        ]
    },
    {
        "id": "681e4edd42b3b186",
        "type": "http request",
        "z": "9ab1e5f6db84bb21",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://webhook.site/6851c352-cf08-4691-8efa-eccb18a6ceea",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1170,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "0ec41463ba89087e",
        "type": "change",
        "z": "9ab1e5f6db84bb21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.status",
                "pt": "msg",
                "to": "SUCCESS",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.errorMessage",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload.ref",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.accountNo",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 460,
        "wires": [
            [
                "681e4edd42b3b186"
            ]
        ]
    }
]